* {
  margin: 0;
  padding: 0;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  color: rgb(82, 3, 82);
}

body {
  background-color: white;
  font-size: 1.2em;
}

#root {
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  margin: 10px
}

.center{
  margin: 0 auto;
}

.rounded{
  border-radius: 30px;
}

.align-l{
  text-align: left;
}

.align-r{
  text-align: right;
}

.header-container{
  border-radius: 20px;
  padding: 20px 20px 0px;
}

.profile-picture{
  position: absolute;
  height: auto;
  width: 12%;
  max-width: 50px;
  right: 5%;
  top: 5px;
}

.nav-item{
  margin: 20px 2%;
}

.nav-link{
  text-decoration: none;
}

.content{
  padding: 0px 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px inset gray;
}

.bg-lightblue{
  background-color: lightblue;
}

.bg-white{
  background-color: white;
}

.content-item{
  box-shadow: 10px 10px 20px gray;
  color: rgb(100, 4, 100);
  vertical-align: top;
}

.width-100{
  width: 100%;
}

.width-mx-600{
  max-width: 600px
}

.width-mx-1300{
  max-width: 1300px;
}

.height-mx-500{
  max-height: 500px;
}

.center-text{
  text-align: center;
}

.margin-20{
  margin: 20px;
}

.margin-l-5{
  margin-left: 5px;
}

.margin-r-5{
  margin-right: 5px;
}

.margin-l-20{
  margin-left: 20px;
}

.padding-20{
  padding: 20px;
}

.border-2px{
  border: 2px solid rgb(100, 4, 100);
}

.dis-in{
  display: inline;
}

.dis-inblk{
  display: inline-block;
}

.dis-blk{
  display: block;
}

.clickable{
  cursor:pointer;
}

.bold{
  font-weight: bold;
}

.size-20em{
  font-size: 2em;
}

.size-15em{
  font-size: 1.5em;
}

.size-10em{
  font-size: 1em;
}

.size-08em{
  font-size: 0.8em;
}

.btn{
  height: 35px;
  background-color: rgb(100, 4, 100);
  color: white;
}

.btn-none{
  background: none;
  border: none;
}

.button-submit{
  width: 90px;
  margin: 60px auto;
}

.button-sign-up{
  width: 190px;
  margin: 10px auto;
}

.button-post-comment-submit{
  width: 90px;
  margin: 20px auto 0px;
}

.btn-text:hover{
  border-bottom: solid 1px rgb(100, 4, 100);
}

.button-delete{
  margin-right: 15px;
}

.content-container{
  padding: 20px;
}

.comment-content{
  margin-top: 10px;
}

.article-list-img{
  height: auto;
  margin-bottom: 10px
}

.articles-sort-item{
  margin: 5px 20px;
  width: 80%;
  max-width: 270px
}

.articles-sort-label{
  line-height: 2em;
  vertical-align: middle;
}

.articles-sort-select{
  padding: 2px 20px;
  margin: 10px;
  border: 1px solid rgb(100, 4, 100);
  }

.articles-sort-select-option{
  border-radius: 20px
}

.pagination-arrow{
  margin: 0 10px;
}

.pagination-head{
  margin: 0 5px;
}

.pagination-dropdown{
  padding: 3px;
}

.form-item{
  padding: 10px 20px;
  margin: 10px;
  width: 60%;
}

.post-article-body{
  height: 250px;
}

.form-item:focus{
  outline: 2px solid white;
}

.topic-item{
  vertical-align: top;
  height: 150px;
  width: 150px;
  margin: 30px 10px;
  box-shadow: 10px 10px 20px gray;
  color: rgb(100, 4, 100);
}

.topic-item-text-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.topic-item-text{
  overflow-wrap: break-word;
}

.profile-img-container{
  margin: 60px auto;
  border-radius: 50%;
  height: 60vw;
  width: 60vw;
  max-width: 450px;
  max-height: 450px;
  display: flex;
  align-items: center;
}

.profile-img{
  height: auto;
  width: 29vw;
  max-width: 215px;
}

.page-title{
  font-weight: 900;
}

.post-comment-form{
  margin-top: 60px
}

.post-comment-main-container{
  display: flex;
  margin-top: 20px;
}

.comment-img-container{
  border-radius: 50%;
  height: 16vw;
  width: 16vw;
  max-width: 100px;
  max-height: 100px;
  display: flex;
  align-items: center;
}

.comment-head-sm{
  display: flex;
  align-items: end;
}

.comment-head-text-sm{
  margin-left: 10px;
}

.comment-img{
  width: 7.5vw;
  height: auto;
  max-width: 45px;
}

.post-comment-body{
  margin-left: 20px;
  height: 10vw;
  max-height: 74px;
  flex: 1;
  padding: 15px;
}

.comment-foot{
  margin-top: 10px;
  float: right;
}

.comment-votes{
  margin: 5px;
}

.comment-body{
  flex: 1;
}

.comment-avatar{
  margin-right: 20px;
}

.article-posted-date{
  margin-top: 20px;
}

.comment-count{
  text-align: left;
  margin-left: 20px;
}

.article-vote-container{
  margin-top: 10px;
}

.vote-icon{
  height: 25px;
  fill: rgb(100, 4, 100);
  pointer-events: none;
}

  .comment-author{
  margin-right: 10px;
}

.article-topic{
   margin-bottom: 10px;
}

.articles-posted-date{
  padding-top: 10px;
}

.account{
  margin: 40px auto 80px;
}

@media only screen and (max-width: 415px) {
  .comment-author{
    display: block;
  }

  .comment-date-posted{
    display: block;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .lg{
    display: none;
  }
}

@media only screen and (min-width: 500px) {
  .sm{
    display: none;
  }
}



