* {
  margin: 0;
  padding: 0;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  color: rgb(82, 3, 82);
}

body {
  background-color: lightblue;
}

#root {
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline-block;
  margin: 10px
}

h1 {
  display: inline-block;
}

.header-container{
  border-radius: 20px;
  background-color: white;
  padding: 20px 20px 0px;
  margin: 20px;
  border: 2px solid rgb(100, 4, 100);
}

.profile-picture{
  position: absolute;
  height: auto;
  width: 12%;
  max-width: 50px;
  right: 10%;
  top: 25px;
}

.nav-item{
  margin: 20px 2%;
}

.nav-link{
  text-decoration: none;
}

.content{
  padding: 0px 20px;
  margin: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 20px inset gray;
  border: 2px solid rgb(100, 4, 100);
}

.content-item{
  background-color: lightblue;
  padding: 20px;
  margin: 30px 10px;
  border-radius: 25px;
  box-shadow: 10px 10px 20px gray;
  color: rgb(100, 4, 100);
  border: 2px solid rgb(100, 4, 100);
}

.article-list-img{
  width: 100%;
  height: auto;
  border-radius: 25px;
  margin-bottom: 10px
}

.article-list-title{
  font-weight: bold;
  font-size: 1.2em;
}

.article-list-author{
  font-size: 0.8em;
}

.articles-sort-item{
  border: 2px solid rgb(100, 4, 100);
  border-radius: 30px;
  background-color: white;
  font-size: 1.2em;
  margin: 5px 20px;
  width: 80%;
  display: inline-block;
  max-width: 270px
}

.articles-sort-label{
  line-height: 2em;
  vertical-align: middle;
}

.articles-sort-select{
  margin: 0 auto;
  padding: 2px 20px;;
  margin: 10px;
  margin-left: 10px;
  border-radius: 30px;
  font-size: 0.8em;
  border: 1px solid rgb(100, 4, 100);
}

#order{
  margin-left: 29px;
}

.articles-sort-select-option{
  border-radius: 20px
}

.pagination-foot{
  display: inline-block;
  font-size: 2em;
}

.pagination-arrow{
  margin: 0 10px;
  background: none;
  border: none;
  cursor:pointer;
}

.pagination-head{
  font-size: 1em;
  margin: 0 5px;
}

.pagination-dropdown{
  border-radius: 30px;
  padding: 3px;
}

.form-item{
  padding: 10px 20px;
  margin: 10px;
  width: 60%;
  border-radius: 25px;
  font-size: 0.8em;
  border: 2px solid rgb(100, 4, 100);
}

.post-article-body{
  height: 200px;
}

.form-label{
  font-size: 1em;
  display: block;
}

.form-item:focus{
  outline: 2px solid white;
}

.button-submit{
  font-size: 1em;
  background-color: rgb(100, 4, 100);
  color: white;
  height: 35px;
  width: 90px;
  border-radius: 30px;
  display: block;
  margin: 60px auto;
}

.button-sign-up{
  font-size: 1em;
  background-color: rgb(100, 4, 100);
  color: white;
  height: 35px;
  width: 190px;
  border-radius: 30px;
  display: block;
  margin: 10px auto;
}

.topic-item{
  vertical-align: top;
  background-color: lightblue;
  height: 125px;
  width: 125px;
  padding: 20px;
  margin: 30px 10px;
  border-radius: 25px;
  box-shadow: 10px 10px 20px gray;
  color: rgb(100, 4, 100);
  border: 2px solid rgb(100, 4, 100);
}

.topic-item-text-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.topic-item-text{
  overflow-wrap: break-word;
  font-size: 1.5em;
  font-weight: bold;
}

.profile-img-container{
  border: 2px solid rgb(100, 4, 100);
  margin: 60px auto;
  background-color: white;
  border-radius: 50%;
  height: 60vw;
  width: 60vw;
  max-width: 450px;
  max-height: 450px;
  display: flex;
  align-items: center;
}

.profile-img{
  padding: 20px;
  height: auto;
  width: 29vw;
  margin: 0 auto;
  max-width: 215px;
}

.profile-text{
  margin: 20px;
  font-size: 1.2em;
}

.page-title{
  font-size: 1.5em;
  font-weight: 900;
}

.post-comment-form{
  padding: 20px;
  margin-top: 60px
}

.post-comment-main-container{
  text-align: left;
  display: flex;
  margin-top: 20px;
}

.comment-img-container{
  border: 2px solid rgb(100, 4, 100);
  background-color: white;
  border-radius: 50%;
  height: 16vw;
  width: 16vw;
  max-width: 100px;
  max-height: 100px;
  display: flex;
  align-items: center;
}

.comment-img{
  width: 7.5vw;
  height: auto;
  max-width: 45px;
  margin: 0 auto;
}

.inline-div{
  display: inline-block;
}

.post-comment-label{
  display: block;
}

.post-comment-body{
  font-size: 0.8em;
  margin-left: 20px;
  height: 10vw;
  max-height: 74px;
  flex: 1;
  border-radius: 30px;
  padding: 15px;
}

.button-post-comment-submit{
  font-size: 1em;
  background-color: rgb(100, 4, 100);
  color: white;
  height: 35px;
  width: 90px;
  border-radius: 30px;
  display: block;
  margin: 20px auto 0px;
}

.comment-foot{
  float: right;
  margin-top: 10px;
}

.button-delete{
  display: inline-block;
  margin-right: 15px;
}

.comment-votes{
  display: inline;
  margin: 5px;
  font-size: 1.6em;
}

.comment-body{
  font-size: 1em;
  margin-left: 20px;
  flex: 1;
  border-radius: 30px;
}

.article{
  padding: 20px 20px;
  margin: 20px;
  border-radius: 20px;
  border: 2px solid rgb(100, 4, 100);
}

.article-posted-date{
  margin-top: 20px;
}

.comment-count{
  text-align: left;
  margin-left: 20px;
}

.article-vote-container{
  margin-top: 10px;
}

.delete-article-container{
  width: 100%;
  text-align: right;
}

.comment-vote-button{
  background: none;
  border: none;
  cursor:pointer;
}

.vote-icon{
  height: 25px;
  fill: rgb(100, 4, 100);
  pointer-events: none;
  }

  .vote-container{
    display: inline-block;
  }

  .comment-author{
    margin-right: 10px;
    font-size: 1.2em;
    display: inline;
  }

  .comment-date-posted{
    display: inline;
    font-size: 0.8em;
  }

  .article-topic{
    margin-bottom: 10px;
  }

  .button-delete-article{
    background: none;
    border: none;
    font-size: 0.8em;
    cursor:pointer;
  }

  .button-delete-article:hover{
    border-bottom: solid 1px rgb(100, 4, 100);
  }

@media only screen and (min-width: 560px) {
  .profile-picture{
    top: 40px
  }
}

@media only screen and (max-width: 415px) {
  .comment-author{
    display: block;
  }

  .comment-date-posted{
    display: block;
    margin-bottom: 10px;
  }
}

